body {
    overflow-x: hidden;
    margin: 0px;
}
.nav {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #343a40;
    
    overflow: hidden;
    padding-left: 1px;
}
.nav.active{
    width: 60px;
}
.nav ul {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    padding: 0;
}
.nav ul li{ 
    transition: 0.5s;
    position: relative;
    width: 100%;
    list-style: none;
}
.nav ul li:hover{
    transition: 0.5s;
    background: #626b76;
}
.nav ul .opened{
    background: #626b76;
}
.nav ul li a{
    display: flex;
    text-decoration: none;
    color: aliceblue;
    position: relative;
    width: 100%;
}
.nav ul li a .icon {
    display: block;
    position: relative;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.nav ul li a .icon .fas{
    font-size: 20px;
}
.nav ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    white-space: nowrap;
}
.dd {
    transition: 0.5s;
    position: relative;
    display: inline-block;
  }
  
  .dd-content {
    display: none;
    position: absolute;
    background-color:#626b76 ;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dd:hover .dd-content {
    display: block;
    transition: 0.5s;
  }
  .dd-item {
    color: black;
    padding: 16px 18px;
    text-decoration: none;
    display: block;
    transition: 0.5s;
  }
.dd-item:hover{
    transition: 0.5s;
      background-color: black;
  }
  .dd-item i{
    font-size: 24px;
    margin-right: 25px;
  }
.ncontainer {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
    
}
.ncontainer.active{
    width: calc(100% - 60px);
    left: 60px
}
.tasks{
    width: calc(125% - 300px);
    left: 300px;
    margin-left: 60px
}
.tasks.active{
    width: calc(125% - 60px);
}
.topbar{
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 20px;
    
}
.toggle{
    text-align: center;
    margin-top: 0px;
    color: #343a40;
    width: 30px;
    height: 30px;
    display: inline-block;
    top: 0px;
    font-size: 20px; 
    line-height: normal;
    text-align: center;
    position:relative;
    padding-left: 15px;
}
.toggle i .icon{
    display: block;
    position: relative;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.quick-info{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.quick-info .qi-item{
    position: relative;
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    box-shadow: 2px 2px 10px #343a40;
}

.quick-info .qi-item a{
    text-decoration: none;
    font-size: 32px;
}
.quick-info .qi-item h1{
    text-decoration: none;
    font-size: 16px;
}

.travolta{
    height: 50%;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.travolta img{
    bottom: 0;
    position: fixed;
    right: 0;
}
.auth{
    width: 500px;
    height: 290px;
    background-color: #fff;
    margin: auto;
    margin-top: 200px;
    padding: 30px;
    box-shadow: 0px 0px 20px #343a40;
}
